* {
    font-family: 'Patua One', cursive;
    font-size: 1rem;
    color: #333;
}

body {
    margin: 5rem;
    padding: 5rem;
    background-color: #07d6e0;
}

.wrapper {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
    text-decoration-color: #07d6e0;
}

#main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#name-email-input {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#name {
    width: 20rem;
}

#email {
    width: 20rem;
}

#number-label {
    text-transform: uppercase;
}

#number {
    margin-bottom: 0.5rem;
}

#select {
    margin-bottom: 1rem;
}

#radian {
    display: flex;
    margin-bottom: 1rem;
}

.rad-btn {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.checkbox {
    padding-bottom: 1rem;
}

.check-choices {
    margin-bottom: 1rem;
}

#additional-comments {
    display: inline-block;
    overflow: auto;
}

#submit {
    margin-top: 0.5rem;
}